.venv
data/
data//
db/
*cache*
__pycache__/
*.out
*.err
benchmark_results/
*.prof
docker/
*.sif
notes/
backend/milvus-docker/volumes/
.DS_Store
.vscode/
*.lock
image_captions
*.csv
*.jsonl
.vscode/
node_modules/
*.lock